<div class="col-lg-12 col-md-12 mb-12">
  <div class="card h-100">
    <%= render 'products/images_slider', product: @product %>
    <div class="card-body">
      <h4 class="card-title">
        <%= link_to @product.name, product_path(@product) %>
      </h4>
      <% if current_user.premium_member? %>
        <h5>
          <strike>$ <%= @product.price %></strike>&nbsp;<span class="discounted">$  <%= @product.discounted_price %></span>
        </h5>
      <% else %>
        <h5>$ <%= @product.price %></h5>
      <% end %>
    </div>
  </div>
  <br>
  <%= link_to 'Back', products_path, class: 'btn btn-info' %>
</div>
